{% extends 'layout.html' %}

{%block titulo%}Movimientos{%endblock%}


{%  block body %}
    <table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Grupo</th>
            <th>Motivo</th>
            <th>Monto</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <h3 style="text-align: center;">📈 Movimientos</h3>
    
    
    {% include 'filtro.html' %} 
    

    <div>
    {% for resultado in resultados %}   
      <tr>
        
            <td>{{ resultado[0][:10] }}</li>
            <td>{{ resultado[1] }}</li>
            <td>{{resultado[2]}}</td>
            <td>{{ resultado[3] }}</li>
            <td>${{ (resultado[4]) }}</li>
            <td>{{ resultado[5] }}</li> 
    </tr>
    {% endfor %}
    </div>
    <tfoot>
      <tr>
        <td colspan="5">Total</td>
        <td>${{ total }}</td>
      </tr>
    </tfoot>
{%endblock%}