{% extends 'layout.html' %}

{%block titulo%}Movimientos{%endblock%}


{%  block body %}
    <table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Grupo</th>
            <th>Motivo</th>
            <th>Monto</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <h3 style="text-align: center;">📈 Movimientos</h3>
    
    
    <button onclick="toggleFiltros()" id="boton_filtros_avanzados">Filtros Avanzado▼</button>
    <div id="filtros_avanzados" class="oculto">
      <form class="form" method="get" style="display: inline;">
        <label for="miListaDesplegable">Selecciona un periodo:</label>
        <select name="filtro_fecha" id="filtro_fecha">
          <option value="30" selected>Seleccione un periodo</option>
          <option value="1">Dia</option>
          <option value="7">Semana</option>
          <option value="30">Mes</option>
          <option value="60">60 dias</option>
          <option value="360">Año</option>
        </select>
        <label for="miListaDesplegable">Selecciona un grupo:</label>
        <select name="grupo">
            <option value=None selected>Seleccione un grupo</option>
          {%for grupo in grupos%}
            <option value="{{grupo}}">{{grupo}}</option>
          {%endfor%}
        </select> 
        <label for="miListaDesplegable">Selecciona una categoria:</label>
        <select name="categoria">
            <option value=None selected>Seleccione una categoria</option>
            {% for categoria in categorias %}
              <option  value="{{categoria}}">{{categoria}}</option>
            {%endfor%}
          </select>
          <button type="submit" style="width: 20%;">Filtrar</button>
      </form>
    </div>
    

    <div>
    {% for resultado in resultados %}   
      <tr>
        
            <td>{{ resultado[0][:10] }}</li>
            <td>{{ resultado[1] }}</li>
            <td>{{resultado[2]}}</td>
            <td>{{ resultado[3] }}</li>
            <td>${{ (resultado[4]) }}</li>
            <td>{{ resultado[5] }}</li> 
    </tr>
    {% endfor %}
    </div>
    <tfoot>
      <tr>
        <td colspan="5">Total</td>
        <td>${{ total }}</td>
      </tr>
    </tfoot>
{%endblock%}